/* General Reset */
#itinerary .timeline * {
  box-sizing: border-box;
}

#itinerary .timeline {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  position: relative;
}

#itinerary .timeline__event {
  margin-bottom: 20px;
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 20px 0;
  border-radius: 6px;
  align-self: center;
  width: 50vw;
}

#itinerary .timeline__event__title {
  font-size: 1.2rem;
  line-height: 1.4;
  text-transform: uppercase;
  font-weight: 600;
  color: #9251ac;
  letter-spacing: 1.5px;
}

#itinerary .timeline__event__content {
  padding: 20px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  background: #fff;
  width: 100%; /* Full width on small screens */
  border-radius: 6px;
}

#itinerary .timeline__event__date {
  color: #f6a4ec;
  font-size: 1.5rem;
  font-weight: 600;
  background: #9251ac;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  padding: 0 20px;
  border-radius: 6px 6px 0 0;
}

#itinerary .timeline__event__icon {
  display: none; /* Hide the icon for simplicity on smaller screens */
}

#itinerary .timeline__event--type2 .timeline__event__date {
  color: #87bbfe;
  background: #555ac0;
}

#itinerary .timeline__event--type2 .timeline__event__title {
  color: #555ac0;
}

#itinerary .timeline__event--type3 .timeline__event__date {
  color: #aff1b6;
  background-color: #24b47e;
}

#itinerary .timeline__event--type3 .timeline__event__title {
  color: #24b47e;
}

/* Responsive Design for Phones */
@media (max-width: 786px) {
  #itinerary .timeline__event {
    flex-direction: column; /* Stack content vertically */
    align-self: center;
    width: 90%; /* Use most of the screen width */
  }

  #itinerary .timeline__event__content {
    width: 100%; /* Full width for content */
    margin: 0 auto; /* Center the content */
  }

  #itinerary .timeline__event__date {
    border-radius: 6px; /* Rounded corners for date */
    margin-bottom: 10px; /* Add spacing below the date */
  }
}

#itinerary .timeline__event__icon {
  display: none; /* Remove the square icon */
}